<h1>About</h1>

<p>
  This site is the final application in
  <a href="https://www.learnenough.com/ruby-tutorial"><em>Learn Enough Ruby
  to Be Dangerous Tutorial</em></a>
</p>

<p>
 Building this Sinatra web app using ruby demonstrates many of the nifty methods
 and building techniques used by ruby. Head on over to <a href="/palindrome">Palindrome
 Detector</a> to interact with the palindrome detector.
</p>
